<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DEFECT.PlanEstrategico.Core.Properties.Settings.DEFECT_PlanEstrategicoConnectionString"
            connectionString="Data Source=.;Initial Catalog=DEFECT_PlanEstrategico;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>